* { 
  font-weight: 400;
  border: 0;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  position: relative;
  min-width: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;;
  background: rgb(250, 250, 250);
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  height: 100%;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
button {
  background: none;
}

// ===================================================================
