* { 
    font-weight: 400;
    border: 0;
    margin: 0;
    padding: 0;
  }

.header{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;
    div{
      width: 100vh;
    }
    img{
      height: 40px;
    }
    .header__nav{
      border-bottom: 1px rgb(100, 100, 100) solid;
      display: flex;
      justify-content: space-between;
      
    }
    .nav__options{
      color: black;
      padding: 0 1rem 0 1rem;
      text-decoration: none;
    }
    .header__cart{
      display: flex;
      justify-content: flex-end;
    }
}